@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  //  Colors
  --blue-main: #0071b1;
  --blue-light: #29a0d7;
  --orange: #e65a24;
  --red: #e21c24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  color: var(--blue-main);
}

.header {
  display: flex;
  flex-wrap: wrap;

  &__img-container {
    width: 100%;
    padding: 35px 24px;
    background-color: var(--blue-main);
    display: flex;
    justify-content: center;
    img {
      width: 100px;
    }
  }

  &__main-content {
    padding: 40px 24px;
    font-size: 2.2rem;
  }

  &__nav {
    width: 100%;
    padding: 24px;
    background-color: var(--blue-main);

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      gap: 10px;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.hero-container {
  .hero {
    padding: 40px 24px 100px;
    background: url(../assets/jpeg/bg-hero.jpeg) center/cover no-repeat #8db7cf83;
    background-blend-mode: multiply;
    position: relative;

    &__content {
      h1 {
        font-size: 3.7rem;
        font-weight: 400;
        line-height: 4.5rem;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--blue-main);
        color: var(--blue-main);
        text-align: end;
      }

      p {
        text-align: end;
        color: var(--orange);
        font-size: 2.5rem;
      }
    }

    div:nth-child(2) {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 60px;
      width: 100%;
      background-color: rgba(0, 112, 177, 0.4);
      color: #fff;
      padding: 0 0 0 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 700;
      gap: 20px;

      p {
        height: 60px;
        width: 60px;
        text-align: center;
        vertical-align: middle;
        background-color: var(--orange);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 15px;

      li {
        display: flex;
        align-items: center;
        gap: 5px;
        &::before {
          content: '';
          display: inline-block;
          height: 16px;
          width: 16px;
          background: url(../assets/svg/check.svg) center/contain no-repeat;
        }
      }

    }
  }

  .form {
    text-align: center;
    padding: 40px 24px;
    color: #fff;
    background-color: var(--blue-main);

    &__title {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 30px;
      padding-bottom: 5px;
      border-bottom: 3px solid var(--blue-light);
      span {
        color: var(--orange);
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .form__input {
        padding: 10px 24px;
        width: 100%;
        font-size: 1.5rem;
        color: var(--orange);
        border: none;

        &::placeholder {
          color: #000;
        }
      }

      .form__button {
        font-size: 1.8rem;
        font-weight: 700;
        background-color: var(--orange);
        color: #fff;
        padding: 15px 30px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: var(--red);
          transition-duration: 2s;
        }
      }
    }
  }
}

.banner {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background: url(../assets/jpeg/bg-banner.jpeg) top/cover no-repeat
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  padding: 30px 24px;

  span {
    display: inline-block;
    height: 70px;
    width: 70px;
    background: url(../assets/svg/hat.svg) center/contain no-repeat;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: #fff;
  }
}

.lessons {
  padding: 40px 24px;
  text-align: center;
  &__content {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  &__subtitle {
    font-size: 2rem;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    &-class {
      width: 100%;
      max-width: 350px;
      border: 1px solid var(--blue-main);
      border-radius: 5px;
      box-shadow: 0px 10px 10px -7px rgba(31, 47, 86, 0.5);
      padding: 20px;
      text-align: start;

      &:nth-child(4) {
        .card-class__title {
          color: #ff0000;
        }
      }

      .card-class__logo {
        display: block;
        height: 30px;
        width: 30px;
        margin-bottom: 15px;
      }

      .card-class__title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.8rem;
        margin-bottom: 10px;
      }

      .card-class__description {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.3rem;
        letter-spacing: 0.05rem;
      }

      .logo-1 {
        background: url(../assets/svg/1.svg) center/contain no-repeat;
      }

      .logo-2 {
        background: url(../assets/svg/2.svg) center/contain no-repeat;
      }

      .logo-3 {
        background: url(../assets/svg/3.svg) center/contain no-repeat;
      }

      .logo-4 {
        background: url(../assets/svg/5.svg) center/contain no-repeat;
      }
    }
  }
}

.footer {
  text-align: center;

  &__contact {
    background-color: #0071b1;
    color: #fff;
    padding: 40px 24px;
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  &__newspaper {
    padding: 40px 24px;

    p {
      font-size: 2rem;
      font-weight: 700;
      margin: 15px;
    }

    input {
      width: 100%;
      padding: 10px 15px;
      border-radius: 30px;
      border: 1px solid var(--blue-main);
      color: var(--orange);
      outline: none;

      &::placeholder {
        color: var(--blue-main);
        font-size: 1.5rem;
      }
    }
  }

  &__end {
    padding: 24px;
    background-color: #4d4d4d;
    color: #fff;
    font-size: 1.2rem;
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
  }
}
